<%- include("partials/header.ejs") -%>
<h1>About Me</h1>
<p>I am a 3rd year student at Thapar Institute of Engineering and Technology.
<br>I've been learning to make websites for over a month now and this blog site is one such project.
<br>I love Golden Retrievers. So if you have one, please do send pictures and videos to <i>abc@gmail.com</i>.
<br>Apart from dogs, painting and rollerblading make me very very happy.
</p>
<%- include("partials/footer.ejs") -%>
